.headerContainer {
   height: 7rem;

   display: flex;
   align-items: center;
   
   padding: 0 13rem;

   justify-content: space-between;

   .menu > a {
       text-decoration: none;
       color: #011627;
       margin-left: 65px;
       font-size: 2rem;
   }
}